.main-top{
    background-image: url(Images/img3.jpg);
    height:630px;
    background-repeat:no-repeat;
    background-size:cover
}
.container-fluid{
    font-size: 30px;
    padding-right: 40px;
    font-family:fangsong;
}
.home-btn{
    width: 400px;
    font-size: 25px;
}
.home-btn:hover{
    background-color: transparent;
}
footer p{
    font-size:15px;
    margin:0px;
    padding:0px; 
}


