*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
table{
	letter-spacing: 1.2px;
	padding-bottom: 30px;
}

td{
	text-align: center;
}
@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}